
@import "assets/scss/normalize";
@import "~@angular/material/theming";

body {
  background: white;
}

.application {

}

.console {
  background: black;
  color: white;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
}
